<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>
            ID
        </td>
        <td>
            NFC-ID
        </td>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.nfcid }}</td>
            <td>{{ user.date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('.signup') }}" class="btn btn-success">SignUp</a>
</body>
</html>